# python and notebook stuff
notebooks/.ipynb_checkpoints/

# temporary files, log files
*.log

#images
*.png

# big outputs
*.nc
*.mat

# Stupid Mac files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# workspace for VS code
*.code-workspace
